*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #A7A7B9;
    justify-content: center;
    align-items: center;
    
}
.calculator{
    background: #251F4A;
    padding: 20px;
    border-radius: 8px;
}

.calculator form input{
  width: 60px;
  height: 60px;
  border-radius: 9px;
  outline: 0;
  border: 0;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
  6px 6px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 25px;
  color: blanchedalmond;
  cursor: pointer;
  margin: 8px;
  transition: 0.4s;
  

}
.calculator form input:hover{
    color: black;
    font-weight: bold;
}

form .display-top{
    display: flex;
    justify-content: center;
    margin: 16px 0;

}

form .display-top input{
    text-align: right;
    flex: 1;
    font-size: 44px;
    /* box-shadow: none; */
    background-color: rgb(5, 77, 84);
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: #D6527C;
}

form input:hover{
    background-color: yellow;
}